@media only screen and (max-width: 960px){
    .wrapper {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        .header {
          width: 100%;
          height: max-content;
          padding: 23px 80px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
          background-color: #ffffff;
          background: var(--wh);
          color: var(--bl);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
          // border-radius: 5px;
          margin-bottom: 48px;
          .header-stat {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-box1 {
              width: max-content;
              .header-text {
                font-weight: 800;
                font-size: 24px;
                line-height: 33px;
                // color: #111517;
              }
            }
            .header-box2 {
              width: max-content;
              height: max-content;
              // background-color: blue;
              display: flex;
              align-items: center;
              user-select: none;
      
              strong {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                cursor: pointer;
                // color: black;
              }
              svg {
                margin-right: 11px;
              }
            }
          }
        }
        .section {
          width: 90%;
          height: max-content;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          .input-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
            align-items: center;
            margin: 0 auto;
            .input__item {
              width: 80%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              margin-bottom: 20px;
              // background-color: red;
              .search {
                width: 100%;
                position: relative;
                margin: 0 auto;
                // background-color: blue;
                svg {
                  position: absolute;
                  left: 32px;
                  top: 19px;
                }
                .input {
                  width: 70%;
                  height: max-content;
                  background: var(--hd);
                  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
                  border-radius: 5px;
                  border: 0;
                  outline: none;
                  font-family: "Nunito Sans";
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--input-cl);
                  padding: 18px 0px 18px 74px;
                  border-radius: 5px;
                  margin: 0 auto;
                  margin-bottom: 10px;
                }
              }
              .dropdown {
                width: 40%;
                position: relative;
                user-select: none;

              }
              .select {
                background: var(--hd);
                color: var(--tx-color);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0.5em;
                padding: 1em;
                transition: 0.3s;
              }
              .select-clicked {
                border-bottom: 2px solid #eee;
                box-shadow: 0 0 0.8em #eee;
              }
              .caret {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--tx-color);
                transition: 0.3s;
              }
              .caret-rotate {
                transform: rotate(180deg);
              }
              .menu {
                width: 100%;
                list-style: none;
                padding: 02em 0.5em;
                background: var(--hd);
                border-radius: 0.5em;
                color: var(--tx-color);
                position: absolute;
                top: 4em;
                display: none;
                transition: 0.2s;
                z-index: 1;
                li {
                  padding: 0.7em 0.5em;
                  margin: 0.3em 0;
                  border-radius: 0.5em;
                  cursor: pointer;
                }
              }
              .active {
                background-color: var(--sc);
              }
              .menu-open {
                display: block;
                opacity: 1;
              }
            }
          }
          .country-box {
            width: 1280px;
            height: max-content;
            margin: 0 auto;
            padding: 0;
           
            .country {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              // justify-content: space-between;
              gap: 40px;
              margin: 0 auto;
              row-gap: 67px;
              margin: 0 auto;
              justify-content: center;
              .country-item__info {
                max-width: 267px;
                width: 100%;
                background: var(--hd);
                box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
                border-radius: 5px;
                margin: 0 auto;
                .country-img {
                  width: 100%;
                  height: 160px;
                  margin-bottom: 24px;
                  img {
                    width: 100%;
                    height: 160px;
                    border-radius: 5px;
                    object-fit: cover;
                  }
                }
                .country-info {
                  padding: 0 46px 24px;
                  .title {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 26px;
                    color: var(--tx-color);
                    margin-bottom: 16px;
                  }
                  .population {
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--tx-color);
                  }
                  .region {
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--tx-color);
                  }
                }
              }
            }
          }
        }
      }
}


@import '_mobil.scss';